<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.mybatisspringxml.mapper.VehicleAlarmMsgMapper">
  <resultMap id="BaseResultMap" type="com.xu.mybatisspringxml.pojo.VehicleAlarmMsg">
    <id column="REC_UID" jdbcType="VARCHAR" property="recUid" />
    <result column="OBJ_ID" jdbcType="VARCHAR" property="objId" />
    <result column="DEVICE_ID" jdbcType="VARCHAR" property="deviceId" />
    <result column="alarm_type" jdbcType="INTEGER" property="alarmType" />
    <result column="ALARM_TIME" jdbcType="TIMESTAMP" property="alarmTime" />
    <result column="LONGITUDE" jdbcType="DECIMAL" property="longitude" />
    <result column="LATITUDE" jdbcType="DECIMAL" property="latitude" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="IS_SMS" jdbcType="INTEGER" property="isSms" />
    <result column="IS_PUSH" jdbcType="INTEGER" property="isPush" />
    <result column="IS_PAGE" jdbcType="INTEGER" property="isPage" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="IS_IN_ORDER" jdbcType="INTEGER" property="isInOrder" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
    <result column="VENDOR_ID" jdbcType="VARCHAR" property="vendorId" />
    <result column="READ_STATUS" jdbcType="INTEGER" property="readStatus" />
    <result column="POS_SPEED" jdbcType="DECIMAL" property="posSpeed" />
    <result column="DRIVER_ID" jdbcType="VARCHAR" property="driverId" />
    <result column="POWER_VOLTAGE" jdbcType="DECIMAL" property="powerVoltage" />
    <result column="Idle_speed_duration" jdbcType="INTEGER" property="idleSpeedDuration" />
    <result column="VIDEO_KEY" jdbcType="VARCHAR" property="videoKey" />
    <result column="VIDEO_URL" jdbcType="VARCHAR" property="videoUrl" />
    <result column="VIDEO_TIME" jdbcType="TIMESTAMP" property="videoTime" />
    <result column="MULTIMEDIA_ID" jdbcType="VARCHAR" property="multimediaId" />
    <result column="REMOVE_STATUS" jdbcType="INTEGER" property="removeStatus" />
    <result column="REMOVE_TIME" jdbcType="TIMESTAMP" property="removeTime" />
    <result column="ALARM_DATA" jdbcType="VARCHAR" property="alarmData" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    REC_UID, OBJ_ID, DEVICE_ID, alarm_type, ALARM_TIME, LONGITUDE, LATITUDE, ADDRESS, 
    IS_SMS, IS_PUSH, IS_PAGE, UPDATE_TIME, IS_IN_ORDER, NOTE, VENDOR_ID, READ_STATUS, 
    POS_SPEED, DRIVER_ID, POWER_VOLTAGE, Idle_speed_duration, VIDEO_KEY, VIDEO_URL, VIDEO_TIME, 
    MULTIMEDIA_ID, REMOVE_STATUS, REMOVE_TIME, ALARM_DATA, record_time
  </sql>
  <select id="selectByExample" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from vehicle_alarm_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vehicle_alarm_msg
    where REC_UID = #{recUid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vehicle_alarm_msg
    where REC_UID = #{recUid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsgExample">
    delete from vehicle_alarm_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsg">
    insert into vehicle_alarm_msg (REC_UID, OBJ_ID, DEVICE_ID, 
      alarm_type, ALARM_TIME, LONGITUDE, 
      LATITUDE, ADDRESS, IS_SMS, 
      IS_PUSH, IS_PAGE, UPDATE_TIME, 
      IS_IN_ORDER, NOTE, VENDOR_ID, 
      READ_STATUS, POS_SPEED, DRIVER_ID, 
      POWER_VOLTAGE, Idle_speed_duration, VIDEO_KEY, 
      VIDEO_URL, VIDEO_TIME, MULTIMEDIA_ID, 
      REMOVE_STATUS, REMOVE_TIME, ALARM_DATA, 
      record_time)
    values (#{recUid,jdbcType=VARCHAR}, #{objId,jdbcType=VARCHAR}, #{deviceId,jdbcType=VARCHAR}, 
      #{alarmType,jdbcType=INTEGER}, #{alarmTime,jdbcType=TIMESTAMP}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}, #{isSms,jdbcType=INTEGER}, 
      #{isPush,jdbcType=INTEGER}, #{isPage,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isInOrder,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{vendorId,jdbcType=VARCHAR}, 
      #{readStatus,jdbcType=INTEGER}, #{posSpeed,jdbcType=DECIMAL}, #{driverId,jdbcType=VARCHAR}, 
      #{powerVoltage,jdbcType=DECIMAL}, #{idleSpeedDuration,jdbcType=INTEGER}, #{videoKey,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR}, #{videoTime,jdbcType=TIMESTAMP}, #{multimediaId,jdbcType=VARCHAR}, 
      #{removeStatus,jdbcType=INTEGER}, #{removeTime,jdbcType=TIMESTAMP}, #{alarmData,jdbcType=VARCHAR}, 
      #{recordTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsg">
    insert into vehicle_alarm_msg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recUid != null">
        REC_UID,
      </if>
      <if test="objId != null">
        OBJ_ID,
      </if>
      <if test="deviceId != null">
        DEVICE_ID,
      </if>
      <if test="alarmType != null">
        alarm_type,
      </if>
      <if test="alarmTime != null">
        ALARM_TIME,
      </if>
      <if test="longitude != null">
        LONGITUDE,
      </if>
      <if test="latitude != null">
        LATITUDE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="isSms != null">
        IS_SMS,
      </if>
      <if test="isPush != null">
        IS_PUSH,
      </if>
      <if test="isPage != null">
        IS_PAGE,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="isInOrder != null">
        IS_IN_ORDER,
      </if>
      <if test="note != null">
        NOTE,
      </if>
      <if test="vendorId != null">
        VENDOR_ID,
      </if>
      <if test="readStatus != null">
        READ_STATUS,
      </if>
      <if test="posSpeed != null">
        POS_SPEED,
      </if>
      <if test="driverId != null">
        DRIVER_ID,
      </if>
      <if test="powerVoltage != null">
        POWER_VOLTAGE,
      </if>
      <if test="idleSpeedDuration != null">
        Idle_speed_duration,
      </if>
      <if test="videoKey != null">
        VIDEO_KEY,
      </if>
      <if test="videoUrl != null">
        VIDEO_URL,
      </if>
      <if test="videoTime != null">
        VIDEO_TIME,
      </if>
      <if test="multimediaId != null">
        MULTIMEDIA_ID,
      </if>
      <if test="removeStatus != null">
        REMOVE_STATUS,
      </if>
      <if test="removeTime != null">
        REMOVE_TIME,
      </if>
      <if test="alarmData != null">
        ALARM_DATA,
      </if>
      <if test="recordTime != null">
        record_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recUid != null">
        #{recUid,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
        #{objId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="alarmTime != null">
        #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        #{isSms,jdbcType=INTEGER},
      </if>
      <if test="isPush != null">
        #{isPush,jdbcType=INTEGER},
      </if>
      <if test="isPage != null">
        #{isPage,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInOrder != null">
        #{isInOrder,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        #{readStatus,jdbcType=INTEGER},
      </if>
      <if test="posSpeed != null">
        #{posSpeed,jdbcType=DECIMAL},
      </if>
      <if test="driverId != null">
        #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="powerVoltage != null">
        #{powerVoltage,jdbcType=DECIMAL},
      </if>
      <if test="idleSpeedDuration != null">
        #{idleSpeedDuration,jdbcType=INTEGER},
      </if>
      <if test="videoKey != null">
        #{videoKey,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null">
        #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="multimediaId != null">
        #{multimediaId,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="removeTime != null">
        #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmData != null">
        #{alarmData,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsgExample" resultType="java.lang.Long">
    select count(*) from vehicle_alarm_msg
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update vehicle_alarm_msg
    <set>
      <if test="record.recUid != null">
        REC_UID = #{record.recUid,jdbcType=VARCHAR},
      </if>
      <if test="record.objId != null">
        OBJ_ID = #{record.objId,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceId != null">
        DEVICE_ID = #{record.deviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.alarmType != null">
        alarm_type = #{record.alarmType,jdbcType=INTEGER},
      </if>
      <if test="record.alarmTime != null">
        ALARM_TIME = #{record.alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.longitude != null">
        LONGITUDE = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null">
        LATITUDE = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.address != null">
        ADDRESS = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.isSms != null">
        IS_SMS = #{record.isSms,jdbcType=INTEGER},
      </if>
      <if test="record.isPush != null">
        IS_PUSH = #{record.isPush,jdbcType=INTEGER},
      </if>
      <if test="record.isPage != null">
        IS_PAGE = #{record.isPage,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isInOrder != null">
        IS_IN_ORDER = #{record.isInOrder,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        NOTE = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.vendorId != null">
        VENDOR_ID = #{record.vendorId,jdbcType=VARCHAR},
      </if>
      <if test="record.readStatus != null">
        READ_STATUS = #{record.readStatus,jdbcType=INTEGER},
      </if>
      <if test="record.posSpeed != null">
        POS_SPEED = #{record.posSpeed,jdbcType=DECIMAL},
      </if>
      <if test="record.driverId != null">
        DRIVER_ID = #{record.driverId,jdbcType=VARCHAR},
      </if>
      <if test="record.powerVoltage != null">
        POWER_VOLTAGE = #{record.powerVoltage,jdbcType=DECIMAL},
      </if>
      <if test="record.idleSpeedDuration != null">
        Idle_speed_duration = #{record.idleSpeedDuration,jdbcType=INTEGER},
      </if>
      <if test="record.videoKey != null">
        VIDEO_KEY = #{record.videoKey,jdbcType=VARCHAR},
      </if>
      <if test="record.videoUrl != null">
        VIDEO_URL = #{record.videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.videoTime != null">
        VIDEO_TIME = #{record.videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.multimediaId != null">
        MULTIMEDIA_ID = #{record.multimediaId,jdbcType=VARCHAR},
      </if>
      <if test="record.removeStatus != null">
        REMOVE_STATUS = #{record.removeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.removeTime != null">
        REMOVE_TIME = #{record.removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.alarmData != null">
        ALARM_DATA = #{record.alarmData,jdbcType=VARCHAR},
      </if>
      <if test="record.recordTime != null">
        record_time = #{record.recordTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update vehicle_alarm_msg
    set REC_UID = #{record.recUid,jdbcType=VARCHAR},
      OBJ_ID = #{record.objId,jdbcType=VARCHAR},
      DEVICE_ID = #{record.deviceId,jdbcType=VARCHAR},
      alarm_type = #{record.alarmType,jdbcType=INTEGER},
      ALARM_TIME = #{record.alarmTime,jdbcType=TIMESTAMP},
      LONGITUDE = #{record.longitude,jdbcType=DECIMAL},
      LATITUDE = #{record.latitude,jdbcType=DECIMAL},
      ADDRESS = #{record.address,jdbcType=VARCHAR},
      IS_SMS = #{record.isSms,jdbcType=INTEGER},
      IS_PUSH = #{record.isPush,jdbcType=INTEGER},
      IS_PAGE = #{record.isPage,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      IS_IN_ORDER = #{record.isInOrder,jdbcType=INTEGER},
      NOTE = #{record.note,jdbcType=VARCHAR},
      VENDOR_ID = #{record.vendorId,jdbcType=VARCHAR},
      READ_STATUS = #{record.readStatus,jdbcType=INTEGER},
      POS_SPEED = #{record.posSpeed,jdbcType=DECIMAL},
      DRIVER_ID = #{record.driverId,jdbcType=VARCHAR},
      POWER_VOLTAGE = #{record.powerVoltage,jdbcType=DECIMAL},
      Idle_speed_duration = #{record.idleSpeedDuration,jdbcType=INTEGER},
      VIDEO_KEY = #{record.videoKey,jdbcType=VARCHAR},
      VIDEO_URL = #{record.videoUrl,jdbcType=VARCHAR},
      VIDEO_TIME = #{record.videoTime,jdbcType=TIMESTAMP},
      MULTIMEDIA_ID = #{record.multimediaId,jdbcType=VARCHAR},
      REMOVE_STATUS = #{record.removeStatus,jdbcType=INTEGER},
      REMOVE_TIME = #{record.removeTime,jdbcType=TIMESTAMP},
      ALARM_DATA = #{record.alarmData,jdbcType=VARCHAR},
      record_time = #{record.recordTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsg">
    update vehicle_alarm_msg
    <set>
      <if test="objId != null">
        OBJ_ID = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null">
        DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="alarmType != null">
        alarm_type = #{alarmType,jdbcType=INTEGER},
      </if>
      <if test="alarmTime != null">
        ALARM_TIME = #{alarmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="longitude != null">
        LONGITUDE = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        LATITUDE = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isSms != null">
        IS_SMS = #{isSms,jdbcType=INTEGER},
      </if>
      <if test="isPush != null">
        IS_PUSH = #{isPush,jdbcType=INTEGER},
      </if>
      <if test="isPage != null">
        IS_PAGE = #{isPage,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isInOrder != null">
        IS_IN_ORDER = #{isInOrder,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="vendorId != null">
        VENDOR_ID = #{vendorId,jdbcType=VARCHAR},
      </if>
      <if test="readStatus != null">
        READ_STATUS = #{readStatus,jdbcType=INTEGER},
      </if>
      <if test="posSpeed != null">
        POS_SPEED = #{posSpeed,jdbcType=DECIMAL},
      </if>
      <if test="driverId != null">
        DRIVER_ID = #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="powerVoltage != null">
        POWER_VOLTAGE = #{powerVoltage,jdbcType=DECIMAL},
      </if>
      <if test="idleSpeedDuration != null">
        Idle_speed_duration = #{idleSpeedDuration,jdbcType=INTEGER},
      </if>
      <if test="videoKey != null">
        VIDEO_KEY = #{videoKey,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        VIDEO_URL = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null">
        VIDEO_TIME = #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="multimediaId != null">
        MULTIMEDIA_ID = #{multimediaId,jdbcType=VARCHAR},
      </if>
      <if test="removeStatus != null">
        REMOVE_STATUS = #{removeStatus,jdbcType=INTEGER},
      </if>
      <if test="removeTime != null">
        REMOVE_TIME = #{removeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alarmData != null">
        ALARM_DATA = #{alarmData,jdbcType=VARCHAR},
      </if>
      <if test="recordTime != null">
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where REC_UID = #{recUid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xu.mybatisspringxml.pojo.VehicleAlarmMsg">
    update vehicle_alarm_msg
    set OBJ_ID = #{objId,jdbcType=VARCHAR},
      DEVICE_ID = #{deviceId,jdbcType=VARCHAR},
      alarm_type = #{alarmType,jdbcType=INTEGER},
      ALARM_TIME = #{alarmTime,jdbcType=TIMESTAMP},
      LONGITUDE = #{longitude,jdbcType=DECIMAL},
      LATITUDE = #{latitude,jdbcType=DECIMAL},
      ADDRESS = #{address,jdbcType=VARCHAR},
      IS_SMS = #{isSms,jdbcType=INTEGER},
      IS_PUSH = #{isPush,jdbcType=INTEGER},
      IS_PAGE = #{isPage,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      IS_IN_ORDER = #{isInOrder,jdbcType=INTEGER},
      NOTE = #{note,jdbcType=VARCHAR},
      VENDOR_ID = #{vendorId,jdbcType=VARCHAR},
      READ_STATUS = #{readStatus,jdbcType=INTEGER},
      POS_SPEED = #{posSpeed,jdbcType=DECIMAL},
      DRIVER_ID = #{driverId,jdbcType=VARCHAR},
      POWER_VOLTAGE = #{powerVoltage,jdbcType=DECIMAL},
      Idle_speed_duration = #{idleSpeedDuration,jdbcType=INTEGER},
      VIDEO_KEY = #{videoKey,jdbcType=VARCHAR},
      VIDEO_URL = #{videoUrl,jdbcType=VARCHAR},
      VIDEO_TIME = #{videoTime,jdbcType=TIMESTAMP},
      MULTIMEDIA_ID = #{multimediaId,jdbcType=VARCHAR},
      REMOVE_STATUS = #{removeStatus,jdbcType=INTEGER},
      REMOVE_TIME = #{removeTime,jdbcType=TIMESTAMP},
      ALARM_DATA = #{alarmData,jdbcType=VARCHAR},
      record_time = #{recordTime,jdbcType=TIMESTAMP}
    where REC_UID = #{recUid,jdbcType=VARCHAR}
  </update>
</mapper>